@font-face {
	font-family: "Futura ExtraBold";
	src: url("../fonts/FuturaStd-ExtraBold.otf") format("opentype");
}
@font-face {
	font-family: "Futura Bold";
	src: url("../fonts/FuturaStd-Bold.otf") format("opentype");
}
*{
	margin: 0;
	padding: 0;
	font-family: "Futura ExtraBold";
	border: 0;
	list-style: none;
	box-sizing: border-box;
}
body, html{
    text-align:center;
    width:100%;
    height: 100%;
}
main{
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}
main>section, #outdiv{
	width: 100%;
	height: 100%;
	position: absolute;
}
main>section{
	/*display: none;*/
}
main>section:nth-child(1){
	display: block;
}
#outdiv{
 	top: 0;
  	left: 0;
}
#video{
    width:100%;
    height: 100%;
}
#qr-canvas{
   display:none;
}
#instrucao{
	width: 100%;
	position: absolute;
	top:11%;
	padding: 0 10px;
	text-transform: uppercase;
	color: white;
	font-size: 66px;
}
#inserirManualmente{
	left: 2.5%;
	position: absolute;
	bottom: 14%;
	font-size: 24px;
	background: #d0202a;
	color: white;
	text-transform: uppercase;
	padding:10px 20px;
}
#mp1{
    text-align:center;
    font-size:35px;
}
 
#result{
	position: absolute;
	top:50%;
	color: white;
	font-size: 40px;
	padding:20px;
	width:100%;
}
#esq_baixo{
	width: 58%;
    height: 20%;
    position: absolute;
    bottom: -14%;
    left: -4%;
    transform: rotate(6.3deg);
    background: #5dc6ce;
}
#dir_baixo{
	width: 75%;
    height: 25%;
    position: absolute;
    bottom: -17.7%;
    right: -6%;
    transform: rotate(164.3deg);
    background: #d0202a;
}
.equipe_regional, .area{
	color: white;
	font-family: "Futura Bold";
	position: absolute;
}
.equipe_regional{
	left: 3.7%;
	bottom: 1.6%;
	text-align: left;
	font-size: 29px;
}
.area{
	bottom: 2.5%;
	right:3.8%;
	font-size: 42px;
	text-align: right;
}