@font-face {
	font-family: "Futura ExtraBold";
	src: url("../fonts/FuturaStd-ExtraBold.otf") format("opentype");
}
@font-face {
	font-family: "Futura Bold";
	src: url("../fonts/FuturaStd-Bold.otf") format("opentype");
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Futura ExtraBold";
	list-style: none;
	box-sizing: border-box;
}
body, html{
    text-align:center;
    width:100%;
    height: 100%;
}
#todo{
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}
#todo>section, #outdiv{
	width: 100%;
	height: 100%;
	position: absolute;
}
#todo>section,#qr-canvas,.step-captura{
	display: none;
}
#todo>section[data-status="step-atual"]{
	display: block;
}
#outdiv{
 	top: 0;
  	left: 0;
}
#video{
    width:100%;
    height: 100%;
}
.step-captura[data-status="active"]{
	display: block;
}
#instrucao-inicio{
	top: 26.4%;
	padding: 10vh 0vw;
}
#instrucao-leitura .instrucoes{
	top:11%;
}
.instrucoes{
	margin: 0 2vw;
	background: rgba(0, 0, 0, 0.7);
	width: 96%;
	padding: 0 10px;
	position: absolute;
	text-transform: uppercase;
	color: white;
}
h2{
	font-size: 6.5vw;
}
h3{
	padding:0 5.9vw;
	font-size: 4.3vw;
}
#inserir-manualmente{
	left: 2.5%;
	position: absolute;
	bottom: 14%;
	font-size: 2vw;
	background: #d0202a;
	color: white;
	text-transform: uppercase;
	padding:10px 20px;
}
#mp1{
    text-align:center;
    font-size:35px;
}
 
#result{
	position: absolute;
	top:50%;
	color: white;
	font-size: 6vw;
	padding:20px;
	width:100%;
}
#esq-baixo{
	width: 58%;
    height: 20%;
    position: absolute;
    bottom: -14%;
    left: -4%;
    transform: rotate(6.3deg);
    background: #5dc6ce;
}
#dir-baixo{
	width: 75%;
    height: 25%;
    position: absolute;
    bottom: -17.7%;
    right: -6%;
    transform: rotate(164.3deg);
    background: #d0202a;
}
.equipe-regional, .area{
	color: white;
	font-family: "Futura Bold";
	position: absolute;
}
.equipe-regional{
	left: 3.7%;
	bottom: 1.6%;
	text-align: left;
	font-size: 2.0vw;
}
.area{
	bottom: 2.5%;
	right:3.8%;
	font-size: 3vw;
	text-align: right;
}
.btn-go{
	margin-top: 1.3vh;
	text-transform: uppercase;
	color: white;
	font-size: 2vw;
	padding: 2vh 15vw;
	background: #4578a0;
}
#entrar{
	font-size: 15vw;
}
.tarja{
	text-transform: uppercase;
	padding: 4.5vh 0;
	text-align: center;
	background: #5dc6ce;
	color: white;
}
#pergunta{
	background: url("../img/logos.png") no-repeat center 91.1vh;
	background-size: 89% auto;
}
#pergunta::after{
	background: #d4d4d4;
	width: 100%;
	content: "";
	position: absolute;
	left: 0;
	height: 0.08vh;
	top: 89vh;
}
#time{
	color: white;
	font-size: 2.7vw;
	line-height: 7.8vw;
	background: rgba(208, 32, 42, 0.39);
	border-radius: 50%;
	position: absolute;
	margin: 19vh 47vw 0;
	width: 8vw;
	height: 8vw;
}
#pergunta .tarja{
	margin-top: 32vh;
}
#pergunta ul{
	position: relative;
	margin: 3.4vh 0 4.1vh;
	display: inline-block;
}
#pergunta ul::before, #pergunta ul::after{
	content: "";
	position: absolute;
	bottom: -1.4vh;
	left: 6vw;
	height: 1.4vh;
	width: 0.2vmax;
	background: white;
}
#pergunta ul::after{
	left: auto;
	right: 6vw;
}

#pergunta ul>li{
	position: relative;
	width: 11.7vw;
	border: 0.2vmax solid white;
	border-right-width: 0;
	height: 8.3vh;
	float: left;
	font-size: 4.5vw;
	line-height: 7.7vh;
}
#pergunta ul>li::before{
	width: 11.9vw; 
	height: 9.6vh;
	position: absolute;
	opacity: 0;
	border: 0.2vmax solid white;
	top: -1vh;
	left: -0.2vmax;
}
#pergunta ul>li.checked::before{
	background: white;
	color: #5dc6ce;
	line-height: 9.6vh;
	opacity: 1;
	-webkit-animation: select-effect 250ms 2;
    -moz-animation: select-effect 250ms 2;
    -ms-animation: select-effect 250ms 2;
}
@keyframes select-effect {
	0%, 100% {
	    opacity: 1;
	}
	50% {
	    opacity: 0;
	}
}
#pergunta ul>li:last-child{
	border-right-width: 0.2vmax;
}
#pergunta ul>li:nth-child(1)::before{
	content: "1";
}
#pergunta ul>li:nth-child(2)::before{
	content: "2";
}
#pergunta ul>li:nth-child(3)::before{
	content: "3";
}
#pergunta ul>li:nth-child(4)::before{
	content: "4";
}
#pergunta ul>li:nth-child(5)::before{
	content: "5";
}
#pergunta ul>li:first-child::after, 
#pergunta ul>li:last-child::after{
	position: absolute;
	font-size: 1.83vw;
	bottom: -6.8vh;
}
#pergunta ul>li:first-child::after{
	width: 38vw;
	left: -17vw;
	content: "não gostei e não recomendaria"
}
#pergunta ul>li:last-child::after{
	width: 35vw;
	left: -7vw;
	content: " gostei muito e recomendaria"
}
#pergunta .area{
	top: 3.3vh;
	left: 4.6vw;
	text-align: left;
	right: auto;
} 
#pergunta .equipe-regional{
	top: 3.8vh;
	right: 15.6vw;
	left: auto;
}
#dir-alto{
	width: 75%;
    height: 20%;
    position: absolute;
    top: -8vh;
    right: -4vw;
    transform: rotate(6.8deg);
    background: #5dc6ce;
}
#esq-alto{
	width: 100%;
    height: 25%;
    position: absolute;
    top: -17.7vh;
    left: -7vw;
    transform: rotate(164.3deg);
    background: #d0202a;
}
#confirmar{
	/*opacity: 1;*/
	background-color: #829e1a;
	margin-top: 36vh;
}
#pergunta[data-status-votacao="selected"] #confirmar{
	/*opacity: 1;*/
	margin-top: 6vh;
	transition: margin-top 1s;
}