@font-face {
	font-family: "Futura ExtraBold";
	src: url("../fonts/FuturaStd-ExtraBold.otf") format("opentype");
}
@font-face {
	font-family: "Futura Bold";
	src: url("../fonts/FuturaStd-Bold.otf") format("opentype");
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Futura ExtraBold";
	list-style: none;
	box-sizing: border-box;
}
body, html{
    text-align:center;
    width:100%;
    height: 100%;
}
#todo{
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}
#todo>section, #outdiv{
	width: 100%;
	height: 100%;
	position: absolute;
}
#todo>section,#qr-canvas,.step-captura{
	opacity: 0;
	z-index: 50;
	right:-100%;
	overflow: hidden;
	transition: 1s;
}
#qr-canvas{
	width: 100%;
	left:0;
	position: absolute;
	opacity: 1;
}
.step-captura{
	overflow: auto;
}
#todo>section[data-status="step-atual"]{
    opacity: 1;
	z-index: 51;
	right:0;
	transition: 2s;
}
#login{
	background: url('../img/f_login.png') no-repeat left top;
	background-size: cover;
}
#login div{
	background: url(../img/f_caixa_login.png) no-repeat left top;
	margin-top: 30vh;
    background-size: cover;
    margin: 30vh auto 0;
    height: 45vw;
    width: 58vw;
	padding: 0.1px;
}
#outdiv{
 	top: 0;
  	left: 0;
}
#video{
    width:100%;
}
.step-captura[data-status="active"]{
	opacity: 1;
	z-index: 51;
	right: 0;
	transition: 0.4s;
}
#instrucao-inicio{
	top: 26.4%;
	padding: 10vh 0vw;
}
#instrucao-leitura .instrucoes{
	top:13%;
}
.instrucoes{
	margin: 0 2vw;
	background: rgba(0, 0, 0, 0.7);
	width: 96%;
	padding: 0 10px;
	position: absolute;
	text-transform: uppercase;
	color: white;
}
h2{
	font-size: 6.1vw;
}
h3{
	padding:0 5.9vw;
	font-size: 4.0vw;
}
#instrucao-leitura .instrucoes{
	padding: 2.3vh;
}

#inserir-manualmente{
	left: 2.5%;
	position: absolute;
	bottom: 14%;
	font-size: 2vw;
	background: #d0202a;
	color: white;
	text-transform: uppercase;
	padding:10px 20px;
}
#mp1{
    text-align:center;
    font-size:35px;
}
 
#result{
	position: absolute;
	top:47%;
	z-index: 51;
	color: white;
	font-size: 5vw;
	padding:20px;
	width:100%;
}
#esq-baixo{
	width: 58%;
    height: 20%;
    position: absolute;
    bottom: -11%;
    left: -4%;
    transform: rotate(6.3deg);
    background: #5dc6ce;
}
#dir-baixo{
	width: 88%;
    height: 25%;
    position: absolute;
    bottom: -15.7%;
    right: -9%;
    transform: rotate(164.3deg);    background: #d0202a;
}
.equipe-regional, .area{
	color: white;
	font-family: "Futura Bold";
	position: absolute;
}
.equipe-regional{
	left: 3.7%;
    bottom: 2.6%;
    text-align: left;
    width: 27vw;
    font-size: 2.6vw;
}
.area{
	bottom: 3.1%;
    right: 3.8%;
    font-size: 2.4vw;
    text-align: right;
    width: 47vw;
	/* bottom: 2.5%;
	right:3.8%;
	font-size: 2.4vw;
	text-align: right; */
}
.btn-go{
	margin-top: 1.3vh;
	text-transform: uppercase;
	color: white;
	font-size: 2vw;
	padding: 2vh 15vw;
	background: #4578a0;
}
#hash_pw{
	height: 6vw;
	width:  32vw;
	margin-left: 7vw;
	background-color: #eed03e;
	padding: 1vh 2vw;
	color: white;
	font-size: 2vmax;
}
#login div label{
	display: inline-block;
	background-color: #e97100;
	margin-top: 17vw;
	position: relative;
}
#login div label::before{
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 7vw;
	background: url("../img/login_symbol.png") #e97100 no-repeat center center;
	background-size: contain;
}
#hash_pw::-webkit-input-placeholder{
	color: white;
	font-family: "Futura Bold";
}
#entrar{
	font-weight: lighter;    
	font-size: 2.5vw;
	margin-top:  1.3vh;
    color: white;
    background-color: #e97100;
    padding: 1vh 3vw;
    font-family: "Futura Bold";
    text-transform: uppercase;
}
.tarja{
	text-transform: uppercase;
	padding: 4.5vh 0;
	text-align: center;
	background: #5dc6ce;
	width: 100%;
	color: white;
}

#time{
	color: white;
	font-size: 2.7vw;
	line-height: 7.8vw;
	background: rgba(208, 32, 42, 0.39);
	border-radius: 50%;
	position: absolute;
	margin: 19vh 47vw 0;
	width: 8vw;
	opacity: 1;
	height: 8vw;
}

#dir-alto{
	width: 75%;
    height: 20%;
    position: absolute;
    top: -8vh;
    right: -4vw;
    transform: rotate(6.8deg);
    background: #5dc6ce;
}
#esq-alto{
	width: 100%;
    height: 25%;
    position: absolute;
    top: -17.7vh;
    left: -7vw;
    transform: rotate(164.3deg);
    background: #d0202a;
}
#entrar,
#iniciar,
#pergunta #confirmar,
#login>div>#entrar.loading{
	pointer-events: none;
}
#login[data-status="step-atual"] #entrar{
	pointer-events: auto;
}
#captura[data-status="step-atual"]>#instrucao-inicio[data-status="active"] #iniciar{
	pointer-events: auto;
}
#pergunta[data-status-votacao="selected"] #confirmar{
		pointer-events: auto;
}